:root{
  --body-bg-color: #FAF7FD;
  --purple: #BB99DD;
}
body  { 
    display: flex;
    flex-direction: column;
   align-items: center;  
}

  #img{
    display: flex;
    justify-content: center;
    border: 2px solid #BB99DD;
    border-radius: 50% ;
    width:  13.7vw;
  }


  .imagem{
    display: flex;
    justify-content: center;
    width:  13.020833333333334vw;
    border-radius: 50% ;
    border: 4px solid white ; 
  }


  .link_insta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:2vh;
  }


  a:link{
    text-decoration: none;
    font-family: Poppins;
    font-size: 1rem;
  }


  button{
    border-color: #BB99DD;
    background-color:white;
    border-radius: 4px;
    cursor: pointer;
    padding: 0.3vw;
  }


  .botao{
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    margin: 3vw;
    width:  21.223958333333332vw;
 }



.icones{
  display: flex;
  flex-direction: row;
  gap: 1vw;
  justify-content: center;
}
@media (max-width: 500px ) {
  #img{
    display: flex;
    justify-content: center;
    border: 2px solid #BB99DD;
    border-radius: 50% ;
    width:  50vw;
    margin: 10vw;
    
  }
  
  .imagem{
    display: flex;
    justify-content: center;
    width: 48vw;
    border-radius: 50% ;
    border: 3px solid white ; 

  }

  .botao{
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    margin: 10vw;
    width:  80vw;
 }

 .icones{
  display: flex;
  flex-direction: row;
  gap: 8vw;
  justify-content: center;
  margin: 5vw;
}
a:link{
  text-decoration: none;
  font-family: Poppins;
  font-size: 1rem;
  color: #BB99DD;
}
}

  