:root {
    --body-bg-color: #FAF7FD;
    --purple: #BB99DD;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

  #img{
 
    border: 2px solid #BB99DD;
    border-radius: 50% ;
  
  }
  .imagem{
    
    width:  13.020833333333334vw;
    border-radius: 50% ;
    border: 5px solid white ;
    
  }
  .link_insta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:5vh;
  }
  a:link{
    text-decoration: none;
    font-family: Poppins;
    font-size: 1rem;
    font: #bb9ddb;
    

  }
  button{
    border-color: #BB99DD;
    background-color:white;
    border-radius: 4px;
  }
  .botao{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin: 5vh;
    
    
 
 }
.icones{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  
}

  